.Stacker {
	background: #5cc2f1;
	display: inline-block;
	padding: 7em 2em 5em;
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;
	width: 100%;
}

@media only screen and (min-width: 800px) {
	.Stacker {
		width: 50%;
	}
}

.Stacker-secondary {
	background: #fff59d;
}