.Cards {
}

.Cards_container {
	position: relative;
	height: 300px;
	padding: 0;
	margin: 0 auto;
	width: 320px;
    perspective: 1000px;
    perspective-origin: 50% -50%;
}

.Cards_controls {
	text-align: center;
	padding: 2em 0;
}
